*{
    scroll-behavior: smooth;
    font-family: 'Poppins',sans-serif;
}
body{
    font-family: sans-serif;
    /* background-color: black; */
}
nav{
    text-align: right;
    width: 96%;
    margin: 10px auto;
}
nav ul li{
	display: inline-block;
}
nav ul li a{
	text-decoration: none;
	/* color: blue; */
    color: white;
	font-size: 20px;
    margin: 0px auto;
    letter-spacing: 1px;
    margin: 2px;
}
nav ul{
	border: 2px solid blue;
	background: blue;
	border-radius: 50px 25px;
    margin-left: 1025px;
    padding-left: 22px;
	color: white;
}
.main-h2{
    text-align: center;
    font-family: sans-serif;
    font-size: 130px;
    font-style: italic;
    background: url(./images/persianFood.jpg);
    background-position: center;
    background-size: cover;
    color: aqua;
    text-transform: uppercase;
    border: 2px solid blue;
    padding: 100px;
    margin: 25px;
    border-radius: 25px;
}
.foods{
    text-align: center;
    font-style: italic;
    color: blue;
    font-size: 42px;    
}
.breakfast-persian1{
    text-align: left;
    margin: 25px;
    font-size: medium;
}
.section-left-breakfast{
    border: 5px double black;
    height: 20vw;
    border-left: none;
    border-right: none;
    margin-right: 65vw;
    margin-left: 25px;
    text-align: left;
    overflow: visible;
    line-height: 25px;
    text-align: justify;
    font-size: large;
    
}
.section-right-breakfast{
    border: 2px solid black;
    height: 30vw;
    margin-top: 0px;
    margin-left: 60%;
    text-align: right;
    margin-right: 25px;
    /* background-image: url(./images/adasi.jpg); */
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fmealz.com%2Frecipes%2Fmyfatmeania-adasi-persian-lentil-stew-1&psig=AOvVaw1w0yBSYP7UgrS5MqNCvfyO&ust=1603898273088000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNCQm-6I1ewCFQAAAAAdAAAAABAD);
    background-position: center;
    background-size: cover;
}
.section-left-lunch{
    border: 5px double black;
    height: 20%;
    border-left: none;
    border-right: none;
    margin-right: 65vw;
    margin-left: 25px;
    text-align: left;
    overflow: visible;
    line-height: 25px;
    text-align: justify;
    font-size: large;
}
.section-right-lunch{
    border: 2px solid black;
    height: 30vw;
    width: auto;
    margin-left: 60%;
    text-align: right;
    margin-right: 25px;
    /* background-image: url(./images/kalamPolo.jpg); */
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Ftr2p.com%2Fblog-post.aspx%3Fid%3D20163&psig=AOvVaw00Ah_8icbVb8orWLl6s2uf&ust=1603898329740000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOiqmIeJ1ewCFQAAAAAdAAAAABAD);
    background-position: center;
    background-size: cover;
}
.section-left-dinner{
    border: 5px double black;
    height: auto;
    border-left: none;
    border-right: none;
    margin-right: 65vw;
    margin-left: 25px;
    text-align: left;
    overflow: visible;
    line-height: 25px;
    text-align: justify;
    font-size: large;
}
.section-right-dinner{
    border: 2px solid black;
    height: 30vw;
    margin-left: 60%;
    text-align: right;
    margin-right: 25px;
    /* background-image: url(./images/kashkeBademjan.jpg); */
    background-image: url(https://www.google.com/imgres?imgurl=https%3A%2F%2Fashhang.com%2Fwp-content%2Fuploads%2F2018%2F07%2F%25D8%25AD%25D9%2584%25DB%258C%25D9%2585-%25D8%25A8%25D8%25A7%25D8%25AF%25D9%2585%25D8%25AC%25D8%25A7%25D9%2586.jpg&imgrefurl=https%3A%2F%2Fashhang.com%2Fproduct%2F%25DA%25A9%25D8%25B4%25DA%25A9-%25D8%25A8%25D8%25A7%25D8%25AF%25D9%2585%25D8%25AC%25D8%25A7%25D9%2586%2F&tbnid=ZP-_DVj1ApmAnM&vet=12ahUKEwi9x9uWiNXsAhWX4oUKHfqJB84QMygGegUIARDuAQ..i&docid=rTT4Y8n4OU6k4M&w=1240&h=800&q=%DA%A9%D8%B4%DA%A9%20%D8%A8%D8%A7%D8%AF%D9%85%D8%AC%D8%A7%D9%86&ved=2ahUKEwi9x9uWiNXsAhWX4oUKHfqJB84QMygGegUIARDuAQ);
    background-position: center;
    background-size: cover;
}
footer{
    border: 2px solid blue;
    background-color: blue;
    margin-top: 25px;
    text-align: center;
    color: #ffffff;
    font-family: sans-serif;
    font-style: italic;
    font-size: 35px;
    border-radius: 25px 25px 0 0; /* top-left/top-right*/
}
.address{
    font-size: 25px;
    font-style: italic;
    color: white;
    margin-top: 8px;
}